[submodule "lib/can_common"]
	path = lib/can_common
	url = https://github.com/collin80/can_common
[submodule "lib/esp32_can"]
	path = lib/esp32_can
	url = https://github.com/collin80/esp32_can
[submodule "lib/Arduino-BrainTree"]
	path = lib/Arduino-BrainTree
	url = https://github.com/ptiza-v-nebe/Arduino-BrainTree
